body {
  padding: 0;
  margin: 0;
  min-width: 1200px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 18px;
  color: #33425f;
  background-color: #ffffff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #33425f;
}

.img {
  max-width: 100%;
}

.hidden:not(:focus):not(:active),
input[type="checkbox"].hidden,
input[type="radio"].hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main .button,
.popup-item-added .gotocart-button,
input[type="submit"] {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.page-header {
  padding-bottom: 1px;
  color: #32425c;
  background-color: #f3f7fa;
}

.users-services {
  width: 100%;
  min-height: 42px;
  margin-bottom: 46px;
  background-color: #293448;
  color: #ffffff;
}

.centering-container {
  width: 940px;
  padding: 0;
  margin: 0 auto;
}

.users-services .centering-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.users-services .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  border-bottom: solid 5px #b52933;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 47px;
  width: 200px;
  margin-left: 270px;
}

.search-field {
  position: relative;
  margin-right: 5px;
}

.search-field::before {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  /* background-image: url("img/icon-search.svg"); */
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type="search"] {
  background-color: inherit;
  border: none;
}

.user-navigation {
  margin: 0 20px;
  color: #ffffff;
}

.bookmarks-page {
  position: relative;
}

.bookmarks-page::before {
    content: " ";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    /* background-image: url("img/icon-search.svg"); */
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cart-page {
  position: relative;
}

.cart-page::before {
    content: " ";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    /* background-image: url("img/icon-search.svg"); */
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.order-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 47px;
  width: 150px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #63a63e;
}

.page-header .contacts-and-personal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.page-header i {
  width: 200px;
  margin-left: 42px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  width: 250px;
  margin: 0 70px;
  margin-top: 10px;
}

.page-header .tel {
  position: relative;
  padding: 10px;
  padding-left: 70px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: solid 2px #ffffff;
}

.page-header .tel::before {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  /* background-image: url("img/icon-search.svg"); */
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.personal-area-enter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: 291px;
}

.personal-area {
  width: 291px;
}

.personal-area ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.personal-area li {
  margin-right: 30px;
  position: relative;
}

.personal-area li:not(:last-child)::after {
  content: " ";
  position: absolute;
  right: -18px;
  top: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #32425c;
}

.personal-area > a {
  position: relative;
  display: block;
  min-height: 45px;
  padding-left: 50px;
  margin-bottom: 5px;
  font-size: 21px;
  line-height: 45px;
  border-right: solid 1px #ffffff;
  background-color: #ffffff;
}

.personal-area > a::before {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: 12px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.personal-area > a::after {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 12px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.personal-area ul a {
  text-decoration: underline;
}

.sign-in-button,
.sign-up-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.sign-in-button {
  width: 121px;
}

.sign-in-button a {
  position: relative;
  margin-left: 50px;
  display: block;
}

.sign-in-button a::before {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  /* background-image: url("img/icon-search.svg"); */
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sign-up-button {
  width: 150px;
}

.sign-up-button a {
  margin: 0 auto;
  display: block;
}

.site-navigation {
  background-color: #32425c;
  margin-bottom: 60px;
  border-bottom: solid 3px #293448;
}

.site-navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  min-height: 60px;
}

.site-navigation li {
  height: 60px;
}

.site-navigation a {
  display: block;
  padding: 21px 20px;
  font-size: 17px;
  line-height: 17px;
  vertical-align: middle;
  color: #ffffff;
  background-color: #32425c;
}

.title-wrapper {
  background-color: #f3f7fa;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.category-cards-top .main-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.category-cards-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.category-cards-side .main-categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  list-style: none;
}

.category-cards-top li {
  width: 300px;
  height: 123px;
  margin-right: 20px;
  margin-top: 20px;
}

.category-cards-side li {
  width: 300px;
  height: 123px;
  margin-right: 0;
  margin-top: 20px;
}

.main-categories li:nth-child(3n) {
  margin-right: 0;
}

.tool-gallery {
  width: 620px;
  height: 266px;
  padding: 24px;
  margin-top: 20px;
  box-sizing: border-box;
  background-image: url("img/Drills-welcome.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 620px 266px;
}

.catalog-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 30px;
  margin-top: 53px;
  margin-bottom: 20px;
  background-color: #f9f6f1;
}

.popular-item-rating {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.popular-item-rating li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px #ebebeb;
}

/* .shop-item .hidden {
  opacity: 0;
} */

.shop-item h3,
.shop-item-price {
  margin: 0;
}

.shop-item h3,
.old-price {
  margin-bottom: 10px;
}

.new-price {
  position: relative;
  width: 80px;
  padding: 10px 30px;
  margin: 0 auto;
  color: white;
  background-color: #ee3643;
  border-radius: 3px;
}

.new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.shop-item-photo {
  order: -1;
}

.popular-manufacturers-rating {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-manufacturers-rating li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: solid 1px #ebebeb;
  box-sizing: border-box;
}

.page-path {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 23px 0;
  list-style: none;
}

.page-path li {
  position: relative;
  margin-right: 41px;
  background-color: #000000;
}

.page-path li:not(:last-child)::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 40px;
  top: 3px;
  margin-right: 10px;
  border-top: solid 2px #a9a9a9;
  border-right: solid 2px #a9a9a9;
  transform: rotate(45deg);
  background-color: transparent;
}

.shop-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.filter {
  width: 220px;
  padding: 0;
  margin-top: -10px;
}

.catalog-tools-perforators {
  width: 700px;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.sorting li:first-child {
  margin-left: 20px;
}

.shop-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.shop-item {
  font-size: 0;
}

.shop-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px #ebebeb;
}

.shop-item:nth-child(3n) {
  margin-right: 0;
}

.new-price {
  margin-top: auto;
}

.shop-pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-path a,
.filter h2,
.catalog-tools-perforators h2,
.filter .show-all {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.filter h2 {
  padding: 10px;
}

.filter .show-all {
  background-color: inherit;
  border: solid 2px #ebebeb;
}

.catalog-page h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f3f7fa;
}

.sorting-settings,
.filter h2,
input[type="range"],
output {
  background-color: #f9f6f1;
  border: 0;
}

.filter .h3-class {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter ul label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

fieldset {
  border: none;
  margin-left: -10px;
}

.price-input {
  height: 80px;
  margin-top: 10px;
  background-color: #f9f6f1;
}

.price-input input[type="range"] {
  margin: 30px 45px;
}

.price-outputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.price-outputs output {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 38px;
  text-align: center;
  vertical-align: middle;
}

.price-outputs p {
  display: inline;
}

.filter-manufacturers {
  padding: 0;
  margin: 0;
  list-style: 0;
}

.filter-manufacturers li,
.filter-power li {
  margin: 5px 0;
}

.filter-power {
  padding: 0;
  margin: 0;
  margin-bottom: 75px;
  list-style: 0;
}

.show-all {
  padding: 5px 30px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: solid 1px #ebebeb;
}

.sorting-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #a9a9a9;
  background-color: inherit;
  border: none;
  border-bottom: dotted 1px #ee3642;
}

.category-card-title {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}

.category-card-title::after {
  content: " ";
  width: 60px;
  height: 80px;
  position: absolute;
  left: 180px;
  top: 0;
  /* background-image: url("img/icon-search.svg"); */
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-card-title div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 135px;
  min-height: 38px;
  background-color: rgba(0, 0, 0, 0.2);
}

.category-card h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.category-card b {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.materials-card {
  background-color: #ffbe46;
}

.tools-card {
  background-color: #3bbce3;
}

.technics-card {
  background-color: #dd91d9;
}

.discount-card {
  background-color: #8ed78e;
}

.delivery-card {
  background-color: #fec047;
}

.tool-gallery {
  position: relative;
  background-color: #32425c;
  background-image: url("img/drills-welcome.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 620px 266px;
}

.tool-gallery::before {
  content: " ";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 100px;
  border-top: solid 3px #ffffff;
  border-right: solid 3px #ffffff;
  transform: rotate(-135deg);
  background-color: transparent;
}

.tool-gallery::after {
  content: " ";
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 100px;
  border-top: solid 3px #ffffff;
  border-right: solid 3px #ffffff;
  transform: rotate(45deg);
  background-color: transparent;
}

.tool-gallery div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -120px;
  width: 195px;
  min-height: 38px;
  background-color: #ee3643;
}

.tool-gallery h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.tool-gallery b {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.title-wrapper {
  background-color: #f3f7fa;
}

.catalog-title h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.catalog-title div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 253px;
  min-height: 38px;
  margin: 0;
  background-color: #ee3643;
}

.sticker-new {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  overflow: hidden;
  z-index: 20;
  /* background-image: url("img/new-flag.png"); */
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.shop-item-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

.old-price {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-align: center;
}

.new-price {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
}

.add-item {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.add-item {
  display: none;
}

.shop-item:hover .add-item {
  display: block;
}

.add-to-cart,
.add-to-bookmarks {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.add-to-bookmarks {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.page-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  margin-top: 32px;
  margin-bottom: 60px;
  font-size: 13px;
  line-height: 18px;
  vertical-align: middle;
  color: #000000;
  background-color: #ffffff;
  border: solid 1px #ebebeb;
}

.page-number a {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.page-next {
  width: 140px;
}

.wrapper-services,
.info-perforators {
  background-color: #f3f7fa;
}

.wrapper-services {
  padding-top: 68px;
}

.services {
  border-bottom: solid 1px #f3f7fa;
}

.services-description {
  width: 440px;
  margin-bottom: 40px;
}

.services-info-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 70px;
  background-image: url("img/delivery-icon.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 200px 200px;
}

.services p,
.about-us p,
.our-contacts p,
.info-perforators p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.services h2,
.about-us h2,
.our-contacts h2,
.info-perforators h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.info-perforators h2,
.info-perforators p {
  padding: 0;
  margin: 0;
}

.services h3 {
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 36px;
  color: #32425c;
}

.services-list {
  width: 300px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: 80px;
  background-color: #32425c;
}

.services-list li {
  padding: 20px;
  border-bottom: solid 2px #293448;
}

.service-button {
  font-size: 21px;
  line-height: 20px;
  color: #ffffff;
  background-color: #32425c;
}

.services-text {
  width: 320px;
}

.services-text h3 {
  margin: 0;
}

.delivery-text {
  width: 250px;
}

.company-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.about-us {
  width: 519px;
}

.about-us .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
  box-sizing: border-box;
  margin-top: 22px;
  margin-bottom: 53px;
}

.our-contacts {
  width: 300px;
}

.our-contacts .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 38px;
  box-sizing: border-box;
  margin-top: 22px;
  margin-bottom: 53px;
}

.transport-services {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.transport-services li {
  position: relative;
  margin: 10px 0;
}

.transport-services li::before {
  content: " ";
  width: 30px;
  height: 2px;
  position: absolute;
  left: -35px;
  top: 7px;
  border-top: solid 2px #ee3643;
}

.info-perforators .centering-container {
  padding: 70px 0;
}

.address-and-navigation {
  margin: 0;
  background-color: #32425c;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;
  margin-right: auto;
  color: #ffffff;
  background-color: #ee3643;
  border-bottom: solid 3px #b72a32;
}

.address-and-navigation p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-top-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 68px;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: 0;
}

.footer-navigation li {
  padding: 25px;
}

.footer-navigation a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.footer-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 74px;
  padding-bottom: 10px;
}

.footer-bottom-row li {
  padding: 15px 25px;
}

.footer-bottom-row p {
  width: 340px;
  margin-right: auto;
}

.categories {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: 0;
}

.categories li {
  margin: 0;
}

.categories a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
  background-color: #32425c;
}

.development {
  min-height: 107px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293448;
}

.development .centering-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.development b {
  width: 230px;
}

.social-button-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
  padding: 0;
  margin: 0;
  list-style: 0;
}

.social-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #212a3b;
  color: #ffffff;
}

.developers-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  padding: 0;
  margin: 0;
  list-style: 0;
}

.mail-developers,
.copyright {
  color: #ffd180;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #a9a9a9;
  background-color: #ffffff;
  border: solid 2px #ebebeb;
}

.full-map {
  position: absolute;
  z-index: 20;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.show-map:active .full-map {
  display: block;
}

.popup-item-added,
.popup-client-message {
  background-color: #ffffff;
  border-top: solid 5px #ee3642;
}

.popup-item-added p,
.popup-client-message label {
  color: #000000;
  font-weight: 700;
}

.popup-client-message {
  /* display: none;
  position: absolute; */
  top: 0;
  left: 0;
  z-index: 20;
  width: 600px;
  min-height: 350px;
}

.popup-client-message label {
  margin-bottom: 5px;
}

.popup-client-message input,
.popup-client-message textarea {
  padding: 0;
  padding-left: 10px;
}

.popup-client-message input {
  width: 180px;
}

.popup-client-message textarea {
  width: 400px;
}

.popup-upper-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  margin: 20px auto 10px;
}

.contact-us-name,
.contact-us-email {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.popup-lower-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 420px;
  margin: 10px auto 30px;
}

.client-message-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  min-height: 90px;
}

.client-message-button input {
  width: 500px;
  min-height: 30px;
}

.popup-item-added {
  /* display: none; */
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 20;
  width: 500px;
  min-height: 200px;
}

.item-is-added {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  min-height: 120px;
  margin: 0 auto;
}

.item-is-added img {
  margin-right: 20px;
}

.popup-item-added .gotoshop-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.item-added-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  background-color: #f1f1f1;
}

.item-added-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: auto;
}

.popup-item-added .gotocart-button,
.popup-item-added .gotoshop-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 190px;
  min-height: 30px;
}

.close-window {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  width: 10px;
  height: 10px;
  /* background-color: #000000; */
  border: none;
}

.close-window span {
  display: none;
  position: relative;
}

.close-window span::before {
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 0;
  border-top: solid 2px #ee3642;
  transform: rotate(45deg);
}

.close-window span::after {
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 0;
  border-bottom: solid 2px #ee3642;
  transform: rotate(-45deg);
}
